.idea/workspace.xml
target/*
.idea/libraries/
.idea/artifacts/
js/node_modules
src/main/webapp/node_modules/
src/main/webapp/build/
src/main/webapp/dist/
src/main/webapp/bower_components/
src/main/webapp/public/lib/
src/main/webapp/results.txt
