.idea/workspace.xml
target/*
.idea/libraries/
.idea/artifacts/
**/node_modules
src/main/webapp/build/
src/main/webapp/dist/
src/main/webapp/bower_components/
src/main/webapp/public/lib/
src/main/webapp/results.txt
src/main/node/scratch/
src/main/webapp/node/node
