<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">API Key Management</h2>
    </div>
    <ul>

    </ul>
    <div class="panel-body">
        <div ng-repeat="apiKey in apiKeyCtrl.apiKeys track by $index">
            <span class="glyphicon glyphicon-remove-circle clickable"
                  ng-click="apiKeyCtrl.remove(apiKey.keyId)"></span>
            <span><strong>Key Id:</strong> {{apiKey.keyId}}</span>
            <span><strong>Verification Code:</strong> {{apiKey.verificationCode}}</span>
        </div>
    </div>
    <div class="panel-body">
        <div ng-show="apiKeyCtrl.errors !== undefined"
             class="alert alert-danger">
            <span class="glyphicon glyphicon-remove close"
                  ng-click="apiKeyCtrl.clearError()"></span>
            <ul>
                <li ng-repeat="error in apiKeyCtrl.errors">
                    {{error.message}}
                </li>
            </ul>
        </div>
        <form role="form" name="keyForm"
              ng-submit="apiKeyCtrl.add(keyForm.keyId, keyForm.verificationCode)"
              method="post">

            <div class="required-field-block ">

                <input type="text" ng-model="apiKeyCtrl.keyId" name="keyId"
                       id="keyId"
                       placeholder="keyId" class="form-control"/>

                <div class="required-icon">
                    <div class="text">*</div>
                </div>

                <div class="required-icon">
                    <div class="text">*</div>
                </div>
            </div>

            <div class="required-field-block ">

                <input type="text" ng-model="apiKeyCtrl.verificationCode"
                       name="verificationCode" id="verificationCode"
                       placeholder="verificationCode" class="form-control"/>

                <div class="required-icon">
                    <div class="text">*</div>
                </div>

                <div class="required-icon">
                    <div class="text">*</div>
                </div>
            </div>

            <div>
                keyId = {{apiKeyCtrl.keyId}}
            </div>
            <div>
                verificationCode = {{apiKeyCtrl.verificationCode}}
            </div>

            <input type="submit" id="submit" value="Submit"
                   class="btn btn-primary"/>
        </form>
    </div>

</div>

