<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">API Key Management</h2>
    </div>
    <ul>

    </ul>
    <div class="panel-body">
        <div ng-repeat="apiKey in ctrl.apiKeys">
            <span class="glyphicon glyphicon-remove"
                  ng-click="ctrl.remove(apiKey.keyId)"></span>
            <span><strong>Key Id:</strong> {{apiKey.keyId}}</span>
            <span><strong>Verification Code:</strong> {{apiKey.verificationCode}}</span>
        </div>
    </div>
    <div class="panel-body">
        <form role="form" action="/eve-manufacturing-manager/api-keys/post-view"
              method="post">

            <div class="required-field-block ">

                <input type="text" ng-model="ctrl.keyId" name="keyId" id="keyId"
                       placeholder="keyId" class="form-control"/>

                <div class="required-icon">
                    <div class="text">*</div>
                </div>

                <div class="required-icon">
                    <div class="text">*</div>
                </div>
            </div>

            <div class="required-field-block ">

                <input type="text" ng-model="ctrl.verificationCode"
                       name="verificationCode" id="verificationCode"
                       placeholder="verificationCode" class="form-control"/>

                <div class="required-icon">
                    <div class="text">*</div>
                </div>

                <div class="required-icon">
                    <div class="text">*</div>
                </div>
            </div>

            <div>
                keyId = {{ctrl.keyId}}
            </div>
            <div>
                verificationCode = {{ctrl.verificationCode}}
            </div>

            <input type="submit" name="submit" value="Submit"
                   class="btn btn-primary"/>
        </form>
    </div>

</div>

